@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Poppins&family=Raleway&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}